@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter', sans-serif !important ;
}

.btn:not(.ignorar-fonte-btn) {
    font-size: 16px !important;
    border: none !important;
    color: rgb(112, 112, 112) !important;
    background-color: transparent;
    font-weight: 500 !important;
    text-align: left !important;
}

.btn:hover:not(.ignorar-fonte-btn){
    background-color: rgb(231, 208, 231) !important;
    border-right: 5px solid rgba(231, 177, 231, 0.788) !important;
    font-weight: bold !important;
    transition: all 0.1s ;
}

.Toastify_toast-container {
  z-index: 200000;
}